---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">About me</h3>

I am a 4th year PhD candidate supervised by Carolina Wahlby at the Information Technology Department of Uppsala University, Sweden.  
I obtained my BSc and MSc in Biomedical Engineering at the Universitat Politècnica de València, Spain, where I worked with Juan Miguel García Gómez at the Biomedical Data Science Lab.
<br>
During my PhD, I have done three internships: (1) at the Diagnostic Image Analysis Group in Radboud University Medical Center (RadboudUMC), The Netherlands 
under the supervision of Francesco Ciompi, (2) at the Genomics Laboratory in RIKEN, Japan under the supervision of Chung Chau Hon and (3) at the  Department of Molecular, Cell, and Developmental Biology in UCLA, California under the supervision of Amjad Askary. 
<br>
<br>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts and Publications" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
